openapi: '3.0.2'
info:
  title: Dad Jokes API
  version: '1.0'
servers:
  - url: https://dad-jokes.p.rapidapi.com
paths:
  /joke/{id}:
    get:
      description: ''
      operationId: 'GetJokeById'
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        schema:
          type: "string"
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Joke"
  /random/joke:
    get:
      description: ''
      operationId: 'GetRandomJoke'
      parameters: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/JokeResponse"
  /joke/search:
    get:
      description: ''
      operationId: 'SearchJoke'
      parameters: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/JokeResponse"
components:
  schemas:
    Joke:
      type: object
      required:
      - _id
      - punchline
      - setup
      - type
      properties:
        _id:
          type: string
        type:
          type: string
        setup:
          type: string
        punchline:
          type: string
    JokeResponse:
      type: object
      properties:
        sucess:
          type: boolean
        body:
          type: array
          items:
            $ref: '#/components/schemas/Joke'
